<h1>All Posts:</h1>

<% @posts.each do |post| %>
    <div class="alert">
        <h3><%= post.title %></h3>
        <%= link_to 'Show', post_path(post), :class => 'btn btn-outline-primary' %>
        <hr>
    </div>
<% end %>
